

<h1>Cursos seleccionados</h1>

<table>
  <thead>
    <tr>
      <th>Mis cursos</th>
      <th>descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses_informations.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
